.headerWrapper {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

.headerParent {
  display: flex;
  width: 100%;
  height: 64px;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  box-sizing: border-box;
  box-shadow: inset 0px -1px 1px #e7ebf0;
  backdrop-filter: blur(20px);
}

.headerLeftPanel {
  display: flex;
  align-items: center;
}

.headerRightPanel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: -1rem;
}

.headerDrawerParent {
  width: 300px;
}

.headerDrawerParent .MuiDrawer-paper {
  width: 300px;
}

.menuListWrapper {
  display: flex;
  margin-left: 2rem;
}

@media (max-width: 1024px) {
  .menuListParentDesktop {
    display: none;
  }
  .menuListParentMobile {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .headerParent {
    padding: 0 1rem;
  }
}

@media (max-width: 1024px) {
 
}

