body {
  margin: 0;
  padding: 0;
}

.dashboard-grids-container {
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
  .dashboard-grids-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
