body {
  margin: 0;
  padding: 0;
}

/* dashboard css added */
.dashboard-grids-container {
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
  .dashboard-grids-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* header css */
.menu-icon-menu p {
  font-size: 0;
}

.menu-icon-menu {
  display: none;
}

@media (max-width: 768px) {
  .header-parent .menu-icon-dashboard,
  .header-parent .menu-icon-wallet {
    display: none;
  }

  .menu-icon-menu {
    display: block;
  }
}

.header-drawer-parent .MuiDrawer-paper {
  width: 300px;
}

.header-drawer-parent .menu-icon-dashboard,
.header-drawer-parent .menu-icon-wallet {
  height: 50px;
  align-items: center;
}

.months-grids-container {
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px) {
  .months-grids-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
