body {
  height: 100%;
  letter-spacing: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-size-adjust: 100%;
  color-scheme: light;
}

#__next {
  height: 100vh;
  position: relative;
}

// button {
//   text-transform: capitalize !important;
// }

// a {
//   text-decoration: none !important;
// }



// .months-grids-container {
//   grid-template-columns: repeat(3, 1fr);
// }

// @media (max-width: 768px) {
//   .months-grids-container {
//     grid-template-columns: repeat(2, 1fr);
//   }
// }

// .menu-icon-menu p {
//   font-size: 0;
// }

// .menu-icon-menu {
//   display: none;
// }





// .wallet-table-info {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: flex-end;
//   width: 50%;
//   text-align: right;
// }

// .year-picker-parent {
//   display: flex;
//   justify-content: space-between;
//   width: 100%;
//   margin-top: 1.5rem;
// }

// .year-picker-parent .MuiFormControl-root {
//   width: calc(50% - 1rem);
//   background-color: white;
//   border-radius: 4px;
// }

// @media (max-width: 768px) {
//   .page-title,
//   .wallet-table-info,
//   .year-picker-parent {
//     width: 100%;
//   }

//   .wallet-table-info {
//     text-align: left;
//   }
// }

// @media (max-width: 640px) {
//   .wallet-info-panel {
//     grid-template-columns: repeat(1, 1fr);
//     gap: 2rem;
//     margin-left: -1rem;
//     margin-right: -1rem;
//   }
// }

// @media (min-width: 641px) and (max-width: 1024px) {
//   .wallet-info-panel {
//     grid-template-columns: repeat(2, 1fr);
//     gap: 2rem;

//   }
// }

// .chart-filter .MuiFormControl-fullWidth {
//   width: calc(50% - 1rem);
// }

// .MuiModal-root[id='notification-menu'] .MuiPaper-root {
//   width: 360px;
// }

// .dashboard-page-wrapper {
//   display: grid;
//   grid-template-columns: repeat(2, 1fr);
//   grid-gap: 2rem;
// }

// @media (max-width: 1024px) {
//   .dashboard-page-wrapper {
//     grid-template-columns: repeat(1, 1fr);
//     width: 100%;
//     grid-gap: 1rem;
//   }
// }

// .MuiTabs-flexContainer {
//   border-bottom: 1px solid #ccc;
//   background-color: white;
// }

// .MuiTabs-flexContainer > button {
//   font-size: 1.1rem;
//   letter-spacing: 0;
//   font-weight: 600;
// }

// .wallet-table-wrapper {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   gap: 1rem;
// }

// @media (max-width: 1024px) {
//   .wallet-table-wrapper {
//     grid-template-columns: repeat(2, 1fr); 
//   }
// }

// @media (max-width: 768px) {
//   .wallet-table-wrapper {
//     grid-template-columns: repeat(1, 1fr); 
//   }
// }

// .MuiTabs-scroller .MuiTabs-flexContainer {
//   padding: 0 1rem;
// }