body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* overflow: hidden; */
  background: #f3f6f9;
}

html {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-size-adjust: 100%;
  color-scheme: light;
}

a {
  text-decoration: none !important;
}

.main-app-wrapper {
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.months-grids-container {
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px) {
  .months-grids-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.menu-icon-menu p {
  font-size: 0;
}

.menu-icon-menu {
  display: none;
}

@media (max-width: 1024px) {
  .header-parent .menu-icon-dashboard,
  .header-parent .menu-icon-wallet {
    display: none;
  }

  .menu-icon-menu {
    display: block;
  }
}

.header-drawer-parent .MuiDrawer-paper {
  width: 300px;
}

.header-drawer-parent .menu-icon-dashboard,
.header-drawer-parent .menu-icon-wallet {
  height: 50px;
  align-items: center;
}

.wallet-table-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 50%;
  text-align: right;
}

.year-picker-parent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.5rem;
}

.year-picker-parent .MuiFormControl-root {
  width: calc(50% - 1rem);
  background-color: white;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .page-title,
  .wallet-table-info,
  .year-picker-parent {
    width: 100%;
  }

  .wallet-table-info {
    text-align: left;
  }
}

@media (max-width: 640px) {
  .wallet-info-panel {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .wallet-info-panel {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

.chart-filter .MuiFormControl-fullWidth {
  width: calc(50% - 1rem);
}
